@import './base.css';

#app {
  width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    background-color: rgb(28, 2, 41);
    /*display: flex;*/
    /*place-items: center;*/
  }

  #app {
    width: 1280px;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    padding: 0 2rem;
  }
}
