@import './base.css';

:root {
  --header-background-color: var(--mas-main-background-color);
  --footer-background-color: var(--mas-main-background-color);

  --border-color: #e0e0e0;
  --table-background-color: rgba(15, 4, 24, 0.5);

  --border-radius: 4px;
}

.table-design {
  border-collapse: separate;
  border-spacing: 0.2rem;
}

.table-design th,
.table-design td
{
  color: var(--color-text);
  border-style: none;
}

.table-design th {
  color: var(--color-text);
  background-color: rgba(107, 26, 79, 0.61);
  border-radius: var(--border-radius);
}

.table-design td {
  color: var(--color-text);
  background-color: rgba(90, 26, 116, 0.342);
  border-radius: var(--border-radius);
}

/* ボタン共通 */
.btn-common-design {
  color: var(--color-text);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
}

/* ボタン通常 */
.btn-normal-design {
  background-color: rgb(109, 95, 95);
}
.btn-normal-design:hover {
  background-color: rgb(87, 76, 76);
}

/* ボタン特殊 */
.btn-alert-design {
  background-color: rgb(170, 26, 26);
}
.btn-alert-design:hover {
  background-color: rgb(121, 12, 12);
}

.text-design {
  color: var(--color-text);
  background-color: rgb(54, 16, 71);
  border-color: rgb(124, 55, 156);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
}
.text-design:focus {
  color: var(--color-text);
  background-color: rgb(85, 42, 105);
  border-color: rgb(113, 0, 170);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
}

.combobox-design {
  color: var(--color-text);
  background-color: rgb(54, 16, 71);
  border-color: rgb(124, 55, 156);
}

.check-th-width {
  width: 2rem;
}

.h-design {
  background-color: rgb(78, 3, 13);
  border-radius: var(--border-radius);
  font-size: x-large;
}